@font-face {
    font-family: "Evogria";
    src: url('fonts/Evogria.woff2');
    src: local('Evogria');
    src: url('Evogria.woff2') format('woff2');
}

@font-face {
    font-family: "BMW";
    src: url('fonts/BMWMotorradW05-Bold.woff2');
    src: local('BMWMotorradW05-Bold');
    src: url('BMWMotorradW05-Bold.woff2') format('woff2');
}

@font-face {
    font-family: "BMW-Reg";
    src: url('fonts/BMWMotorradW05-Regular.woff2');
    src: local('BMWMotorradW05-Regular');
    src: url('BMWMotorradW05-Regular.woff2') format('woff2');
}

@font-face {
    font-family: "Avenir";
    src: url('fonts/AvenirLTStd-Roman');
    src: local('BMWMotorradW05-Regular');
    src: url('AvenirLTStd-Roman.woff2') format('woff2');
}

@font-face {
    font-family: "Avenir-Bold";
    src: url('fonts/AvenirLTStd-Black');
    src: local('BMWMotorradW05-Regular');
    src: url('AvenirLTStd-Black.woff2') format('woff2');
}

$color-primary: #0a2f70;
$color-yellow:#fec400;
$color-dark:#19232b;
$max:767px;
// slick
.slick {
    &-dots {
        z-index: 20 !important;
        bottom: 16px !important;
        li {
            margin: 0 !important;
            height: 0 !important;
            button {
                background: transparent !important;
                &::before {
                    font-family: "FontAwesome" !important;
                    color: white !important;
                    content: '\f111';
                    font-size: 14px !important;
                }
            }
        }
    }
    &-prev,
    &-next {
        z-index: 9;
        width: 32px !important;
        height: 32px !important;
        &::before {
            font-family: 'FontAwesome' !important;
            font-size: 32px;
        }
    }
    &-prev {
        left: 25px !important;
        &::before {
            content: "\f137" !important;
        }
    }
    &-next {
        right: 25px !important;
        &::before {
            content: "\f138" !important;
        }
    }
}

.event-slider {
    &__wrap {
        margin-bottom: 16px;
        width: 100%;
        margin: 0 auto;
        display: block;
        margin-right: 8px;
        .card {
            border: 1px solid transparent;
        }
        .each-side {
            padding: 16px;
            width: 48%;
            display: inline-block;
            vertical-align: top;
            .img {
                height: 320px;
                img {
                    object-fit: cover;
                }
            }
            @media screen and (max-width: 767px) {
                width: 100%;
            }
        }
    }
    .slick-prev:before,
    .slick-next:before {
        color: $color-primary !important;
    }
    .slick-next {
        right: 0 !important;
        @media screen and (max-width: 766px) {
            right: 0 !important;
        }
    }
    .slick-prev {
        left: -8px !important;
        @media screen and (max-width: 766px) {
            left: -8px !important;
        }
    }
    .slick-next,
    .slick-prev {
        @media screen and (max-width: 766px) {
            top: 40%;
        }
    }
}

.bg {
    &-silver {
        background: #e8e8e8;
    }
    &-white {
        background: white;
    }
    &-darkblue {
        background-color: $color-dark;
    }
    &-soft-yellow {
        background: rgba($color: $color-yellow, $alpha: .1);
    }
}

//end slick
.upper {
    text-transform: uppercase;
}

.font {
    &-bold {
        // font-weight: bold;
        font-family: 'Avenir-Bold', sans-serif;
    }
    &-title {
        font-family: 'Evogria', sans-serif;
    }
    &-avenir {
        font-family: 'Avenir', sans-serif;
    }
    &-small {
        font-size: 12px !important;
    }
    &-xsmall {
        font-size: 10px !important;
    }
    &-medium {
        font-size: 14px !important;
    }
    &-medium-high {
        font-size: 20px !important;
    }
    &-big {
        font-size: 24px !important;
    }
    &-xtrabig {
        font-size: 32px !important;
    }
}

.color {
    &-red {
        color: $color-primary;
    }
    &-black {
        color: black;
    }
    &-yellow {
        color: rgb(256, 130, 0);
    }
    &-second {
        color: $color-yellow;
    }
    &-white {
        color: white;
    }
}

.back {
    &:hover,
    &:focus {
        color: black;
    }
}

main {
    margin-bottom: 278px;
    z-index: 88;
    position: relative;
    background: white;
    @media screen and (max-width: $max) {
        margin-bottom: 478px;
    }
}

.team-leader {
    position: relative;
}

body,
main,
html {
    font-family: 'Avenir', sans-serif;
    overflow-x: hidden;
}

.img {
    width: 100%;
    height: auto;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.wrap {
    width: 960px;
    margin: 0 auto;
    display: block;
    @media screen and (max-width: 766px) {
        width: 100%;
    }
}

.btn {
    border-radius: 0 !important;
    border: 1px solid transparent !important;
    &-card {
        transition: .3s;
        &:hover {
            color: $color-primary;
        }
    }
    &-primary {
        background: $color-primary !important;
        color: white !important;
        transition: .5s !important;
        &:hover,
        &:focus {
            background: $color-yellow !important;
            border: 1px solid transparent !important;
            box-shadow: none !important;
            outline: 0 !important;
            color: $color-primary !important;
        }
    }
    &-secondary {
        background: white !important;
        border: 2px solid $color-primary !important;
        color: $color-primary !important;
        transition: .5s !important;
        &:hover,
        &:focus {
            background: $color-primary !important;
            box-shadow: none !important;
            outline: 0 !important;
            color: white !important;
        }
    }
    &-third {
        background: $color-yellow !important;
        // border: 2px solid $color-primary !important;
        color: $color-primary !important;
        transition: .5s !important;
        &:hover,
        &:focus {
            background: $color-primary !important;
            box-shadow: none !important;
            outline: 0 !important;
            color: white !important;
        }
    }
}

section {
    padding: 32px 0;
}

.how {
    .text {
        margin: 8px 0;
        .font-medium {
            @media screen and(max-width: $max) {
                font-size: 20px !important;
            }
        }
    }
    .icon {
        &__list {
            margin: 0 auto;
            text-align: center;
            display: block;
            .text {
                margin-top: 8px;
            }
            .image {
                width: 80%;
                text-align: center;
                margin: 0 auto;
                @media screen and (max-width: $max) {
                    width: auto;
                }
                img {
                    margin: 0 auto;
                    display: block;
                    text-align: center;
                }
            }
        }
    }
    .slick {
        &-next,
        &-prev {
            &::before {
                color: $color-yellow;
            }
        }
    }
}

.banner {
    padding-top: 0;
    &__slider {
        overflow-x: hidden;
        margin-bottom: 0 !important;
        .highlights {
            position: relative;
            &__img {
                height: 640px;
                width: 100%;
                position: relative;
                z-index: 2;
                @media screen and (max-width: $max) {
                    height: 470px;
                }
                .helping {
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    background: linear-gradient(to bottom, rgba(0, 0, 0, .1), rgba(0, 0, 0, 1));
                    z-index: 5;
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            &__text {
                position: absolute;
                left: 50px;
                z-index: 6;
                bottom: 50px;
                color: white;
                h2 {
                    font-size: 4.5vw;
                    // border: 1px solid;
                    width: 60vw;
                    @media screen and (max-width: $max) {
                        font-size: 34px;
                    }
                }
            }
        }
    }
}

.card-big {
    margin-bottom: 16px;
    .img {
        height: 480px !important;
    }
}

.card,
.card-big {
    position: relative;
    overflow: hidden;
    margin-bottom: 8px;
    &:hover {
        .line {
            background: $color-primary;
        }
        .img {
            transform: scale(1.2);
        }
    }
    .img {
        height: 320px;
        transition: transform .2s;
        // margin-bottom: 8px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &-title_ {
        background: rgba($color: white, $alpha: .8) !important;
        position: absolute;
        bottom: 0;
        padding: 8px;
        left: 0;
        right: 0;
        width: 75%;
        h3 {
            font-size: 21px;
        }
    }
    .event {}
    .line {
        height: 3px;
        width: 100%;
        background: black;
    }
    a {
        color: black !important;
    }
}

.instrument {
    text-align: center;
    position: relative;
    // background: blue;
    &::before,
    &::after {
        content: '';
        height: 2px;
        top: 50%;
        width: 35%;
        position: absolute;
        background: black;
        @media screen and(max-width: 766px) {
            width: 5%;
        }
    }
    &::before {
        left: 0;
    }
    &::after {
        right: 0;
    }
}

footer {
    margin: 0;
    // border-top: 4px solid $color-primary;
    // position: relative;
    // background-color: #181818;
    padding: 60px 0 30px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
    .sosmed {
        display: block;
        margin-top: 16px;
        a {
            margin: 0;
        }
        &__icon {
            display: inline-block;
            i {
                margin: 0 4px;
            }
            .fa-whatsapp {
                color: #25d366
            }
            .fa-twitter {
                &:hover {
                    color: #1DA1F2;
                }
            }
            .fa-linkedin-square {
                &:hover {
                    color: #0e76ab;
                }
            }
        }
    }
    ul {
        margin: 0;
        padding: 0;
        li {
            margin: 4px 0;
            padding-bottom: 4px;
            border-bottom: 1px solid #666;
            &:last-child {
                border-bottom: 1px solid transparent;
            }
        }
    }
    .sosmed {
        z-index: 10;
        position: relative;
        display: inline-block;
    }
    a {
        margin: 0 8px;
        &:hover,
        &:focus {
            text-decoration: none;
        }
    }
    .infront {
        position: relative;
        z-index: 7;
        .image {
            width: 140px;
            height: auto;
            margin-bottom: 8px;
            // margin: 0 auto 16px;
            // text-align: center;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
    .footer-help {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        z-index: 4;
        background: rgba($color: #000000, $alpha: .9);
    }
    .footer-bg {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        z-index: 3;
        @media screen and (max-width: $max) {
            background-color: #333;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    h1,
    h2,
    p,
    a {
        position: relative;
        z-index: 9;
        color: white
    }
}

.background-top {
    padding: 0;
    width: 100%;
    height: 320px;
    position: relative;
    z-index: 2;
    .bg-help {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: linear-gradient(to bottom, rgba(0, 0, 0, .5), rgba(255, 255, 255, .1));
        z-index: 4;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

#story-detail {
    .background-top {
        height: 480px;
    }
    .bg-help {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: linear-gradient(to bottom, rgba(0, 0, 0, .5), transparent);
        z-index: 4;
    }
}

.projects {
    position: relative;
    z-index: 1;
    .top {
        position: relative;
        z-index: 4;
    }
    .bg-help {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 2;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .float-right {
        @media screen and(max-width: $max) {
            margin-bottom: 8px;
        }
    }
    .slick-slide {
        margin: 0 16px;
    }
    /* the parent */
    .slick-list {
        margin: 0 -16px;
    }
    .slick-prev,
    .slick-next {
        top: 110% !important;
    }
    .slick-next {
        right: 0 !important;
    }
    .slick-prev {
        left: 0 !important;
    }
    &__slide {
        position: relative;
        z-index: 4;
        margin-bottom: 32px;
        .image {
            height: 240px;
            cursor: pointer;
            position: relative;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

.blogs {
    position: relative;
    .bg-abs {
        position: absolute;
        right: 0px;
        top: 16px;
        z-index: 2;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    a {
        color: initial !important;
        text-decoration: none;
        &:hover {
            text-decoration: none;
        }
    }
    .totop {
        position: relative;
        z-index: 4;
    }
    &__card {
        width: 100%;
        cursor: pointer;
        margin-bottom: 8px;
        background: white;
        overflow: hidden;
        @media screen and(max-width: $max) {
            margin-bottom: 16px;
        }
        &:hover {
            .font-medium-high,
            h2 {
                color: $color-primary !important;
            }
            .date {
                background: rgba($color: $color-yellow, $alpha: 1) !important;
            }
        }
        .font-medium-high {
            margin-bottom: 8px;
            // line-height: 24px;
        }
        .font-avenir {
            line-height: 22px;
        }
        .content {
            // padding: 8px 16px 16px;
        }
        .image {
            height: 320px;
            transition: .2s;
            margin-bottom: 8px;
            position: relative;
            overflow: hidden;
            @media screen and (max-width: $max) {
                height: 230px;
            }
            .date {
                position: absolute;
                // bottom: 0;
                right: 8px;
                top: 8px;
                transition: .3s;
                padding: 8px;
                background: rgba($color: $color-yellow, $alpha: .7);
                color: black;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    &__detail {
        width: 100%;
        .image {
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .date {
            margin: 8px 0;
        }
        .sosmed {
            display: block;
            margin-bottom: 16px;
            .iblock {
                @media screen and (max-width: $max) {
                    font-size: 14px;
                }
            }
            &__icon {
                display: inline-block;
                margin-right: 4px;
                .fa-facebook-square,
                .fa-facebook {
                    color: #4267B2
                }
                .fa-instagram {
                    color: #fb3958
                }
                .fa-whatsapp {
                    color: #25d366
                }
                .fa-twitter {
                    color: #1DA1F2;
                }
                i {
                    margin: 0;
                }
            }
            &__rounded {
                width: 30px;
                height: 30px;
                padding: 8px 0;
                border-radius: 50%;
                // border: 2px solid #ececec;
                transition: .3s;
                // box-shadow: 0 3px 6px rgba($color: #000000, $alpha: .4);
                i {
                    @media screen and(max-width: $max) {
                        float: initial;
                    }
                }
                &:hover {
                    i {
                        color: #4a4a4a;
                    }
                    // border: 2px solid red;
                    // box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 1);
                }
            }
        }
    }
}

.clients {
    position: relative;
    &__card {
        width: 100%;
        margin-bottom: 24px;
        cursor: pointer;
        // border: 1px solid;
        // box-shadow: 0 3px 6px rgba($color: #000000, $alpha: .2);
        height: 110px;
        padding: 8px;
        background-color: white;
        overflow: hidden;
        @media screen and(max-width: $max) {
            margin-bottom: 16px;
        }
        &:hover {
            img {
                transform: scale(1.1);
            }
        }
        img {
            transition: .2s;
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

.scrolltop {
    position: fixed;
    right: 12px;
    bottom: 12px;
    width: 50px;
    height: 50px;
    background-color: $color-primary;
    border-radius: 50%;
    padding: 8px;
    // border: 1px solid;
    z-index: 999;
    transition: .6s;
    text-align: center;
    cursor: pointer;
    i {
        line-height: 30px;
        color: white;
        font-size: 40px;
        text-align: center;
    }
    @media screen and(max-width: $max) {
        right: 8px;
        bottom: 8px;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    &:hover {
        background-color: $color-yellow;
    }
}

.gallery {
    &-top {
        position: relative;
        height: 375px;
        z-index: 1;
    }
    &-title {
        position: absolute;
        // background: rgba($color: #fff, $alpha: .7);
        left: 140px;
        color: white;
        z-index: 3;
        font-size: 4.5vw;
        bottom: 30px;
        @media screen and (max-width: $max) {
            left: 50px;
            font-size: 40px;
        }
    }
    .wrap {
        display: block;
        margin: 0 auto;
        text-align: center;
        &__foto {
            display: inline-block;
            width: 24%;
            cursor: pointer;
            margin-bottom: 4px;
            .image {
                height: 240px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            @media screen and(max-width: $max) {
                width: 48%;
            }
        }
    }
}

.shadow {
    box-shadow: 0 3px 6px rgba($color: #000000, $alpha: .1);
}

#news,
.news {
    a {
        color: initial !important;
        text-decoration: none;
        &:hover {
            text-decoration: none;
        }
    }
    .gallery-top {
        height: 360px !important;
    }
    .blogs__card {
        margin: 16px 0;
        position: relative;
        // box-shadow: 0 3px 6px rgba($color: #000000, $alpha: .1);
        .tags {
            position: absolute;
            left: 0;
            top: 0;
            // width: 200px;
            z-index: 9;
            padding: 4px 8px;
            // height: 30px;
            background: $color-primary;
            color: white;
        }
    }
}

//pagination
.center {
    text-align: center;
    margin: 16px auto;
}

.pagination {
    margin: 16px 0 0;
    a {
        color: black;
        float: left;
        font-family: 'Avenir-Bold', sans-serif;
        padding: 4px 8px;
        font-size: 12px;
        background: white;
        text-decoration: none;
        transition: background-color .3s;
        border: 1px solid transparent;
        margin: 0px 2px;
        &.active {
            background-color: $color-yellow;
            color: $color-primary;
            border: 1px solid transparent;
        }
    }
    .disabled {
        pointer-events: none;
    }
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

.arrow-animation {
    position: relative;
    -webkit-animation: linear infinite alternate;
    -webkit-animation-name: run;
    -webkit-animation-duration: 1s;
}

@-webkit-keyframes run {
    0% {
        left: 0;
    }
    50% {
        left: 5px;
    }
    100% {
        left: 0;
    }
}

.mt-1 {
    margin-top: 8px;
}

.iblock {
    display: inline-block;
}

#news-detail {
    padding: 8px;
}

.mb-1 {
    margin-bottom: 8px;
}

.mt-1 {
    margin-top: 8px;
}

.slider-else {
    margin-bottom: 16px;
    .slick-next {
        right: -32px !important;
        &::before {
            color: $color-yellow !important;
        }
    }
    .slick-prev {
        left: -32px !important;
        &::before {
            color: $color-yellow !important;
        }
    }
    .slick-slide {
        margin: 0 27px;
    }
    /* the parent */
    .slick-list {
        margin: 0 -27px;
    }
}

.about-home,
.about {
    position: relative;
    .content-text {
        @media screen and (max-width: $max) {
            font-size: 14px;
        }
    }
}

.content-text {
    @media screen and (max-width: $max) {
        font-size: 14px;
    }
}

.about {
    h2 {
        position: relative;
        z-index: 3;
    }
    .welcome {
        top: 16px;
        bottom: initial;
        z-index: 1;
    }
}

.welcome {
    position: absolute;
    right: 32px;
    bottom: 0;
    @media screen and (max-width: $max) {
        right: 0;
    }
    &.text-pop-up-top {
        -webkit-animation: text-pop-up-top 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate both;
        animation: text-pop-up-top 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite alternate both;
    }
    @-webkit-keyframes text-pop-up-top {
        0% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
            -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
            text-shadow: none;
        }
        100% {
            -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
            -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
            text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
        }
    }
    @keyframes text-pop-up-top {
        0% {
            -webkit-transform: translateY(0);
            transform: translateY(0);
            -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
            text-shadow: none;
        }
        100% {
            -webkit-transform: translateY(-50px);
            transform: translateY(-50px);
            -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
            text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
        }
    }
    strong {
        font-size: 80px;
        display: block;
        color: #efefef;
        @media screen and (max-width: $max) {
            font-size: 50px;
        }
    }
}

.wrap-margin {
    @media screen and (max-width: $max) {
        margin: 0 24px;
    }
}

.leaders {
    position: relative;
    z-index: 4;
    .thumb {
        margin-bottom: 16px;
        .image {
            width: 100%;
            height: 320px;
            @media screen and (max-width: $max) {
                height: 420px;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .slick-next {
        right: 0 !important;
        &::before {
            color: $color-yellow !important;
        }
    }
    .slick-prev {
        left: 0 !important;
        &::before {
            color: $color-yellow !important;
        }
    }
    .slick-slide {
        margin: 0 27px;
    }
    /* the parent */
    .slick-list {
        margin: 0 -27px;
    }
}

.banner__slider,
.event-slider,
.icon {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease;
    -webkit-transition: opacity 1s ease;
}

.banner__slider,
.event-slider,
.icon.slick-initialized {
    visibility: visible;
    opacity: 1;
}